@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

.active {
  box-shadow: none !important;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: -webkit-radial-gradient(
    circle,
    #b9a8fd 0%,
    #fd1d83 50%,
    #fcc545 100%
  );
}

@font-face {
  font-family: "Soria";
  src: url("./assets/Fonts/Soria.woff2") format("woff2");
}

.font-soria {
  font-family: "Soria", serif;
}

@font-face {
  font-family: "Saman";
  src: url("./assets/Fonts/Saman.woff2") format("woff2");
}

.font-saman {
  font-family: "Saman", serif;
}

@font-face {
  font-family: "Cigra";
  src: url("./assets/Fonts/cigra.woff2") format("woff2");
}

.font-cigra {
  font-family: "Cigra", serif;
}
